.acceptButton, .rejectButton{
    color:white;
    height: 4rem;
    width: 4rem;
    margin: 0;
    display: inline;
}

.acceptButton{
    background-color: greenyellow;;
}

.rejectButton{
    background-color: red;
}


