.containerScroll{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display:grid;
    border: 1px solid black;
    grid-template-columns: repeat(3, auto);
    padding: 1rem;
    place-items: center;/*Using align or justify content introduces clipping errors, so using this instead*/
    gap: 2vw;
    /*place grid bottom centre of screen.*/
}

.searchBar{
    width: 100%;
    margin-bottom: 2rem;
    
}


