html, body, div, span, h1, h2, h3, h4, h5, h6, p, label, a, form, input, textarea, button, table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
   }

img{
    height: 100%;
    width: 100%;
   }