section{
    grid-area: table;
}

aside{
    grid-area: button;
}

.pageContainer{
    display: grid;
    grid-template-areas: "table button";
    grid-template-columns: 1fr auto;
    gap: 2rem;
}

.response{
    grid-area: response;
}